.about {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
	align-items: center;
}

.heading {
	width: 30%;
}
._img {
	margin: 10em;
	width: 15em;
	height: 20em;
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.51);
	transition: transform 0.3s ease-in-out;
}
._content_wrapper {
	margin-left: 1em;
	width: 60%;
}
.aboutMe {
	margin-bottom: 1.5em;
	font-size: 1.1rem;
	width: 100%;
}
.contact-btn {
	text-decoration: none;
	color: #ffff;
	background-color: #0a0a0a;
	padding: 20px;
	border-radius: 10px;
}
.contact-btn:hover {
	text-decoration: none;
	background-color: #00bfbf;
}

._img:hover {
	transform: scale(1.5);
}
@media (max-width: 1024px) {
	.about {
		margin-left: 3rem;
		margin-right: 1rem;
	}
	._img {
		margin: 2em;
	}
	._content_wrapper {
		width: 80%;
	}
	.contact-btn {
		width: 100%;
		padding: 10px;
	}
}
@media (max-width: 768px) {
	.about {
		margin-left: 3em;
		margin-right: 1rem;

		flex-direction: column;
	}
	._img {
		width: 9em;
		height: 12em;
	}
	._content_wrapper {
		width: 80%;
	}
	.contact-btn {
		width: 100%;
		padding: 10px;
	}
}
