.project {
	width: 80%;
	margin-left: 7rem;
	margin-right: 7rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.project-reverse {
	width: 80%;
	margin-left: 7rem;
	margin-right: 7rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.__img_wrapper {
	width: 45em;
}
.__img_wrapper > img {
	width: 100%;
}
.fa-arrow-right {
	margin-left: 1em;
}
.__content_wrapper {
	width: 40%;
	display: flex;
	flex-direction: column;
}
.title {
	font-size: 2em;
}
.title p {
	margin-block-end: 0em;
}
.description {
	font-size: 1rem;
	margin-bottom: 1em;
}
.viewMore-btn {
	text-decoration: none;
	color: #ffff;
	background-color: #0a0a0a;
	padding: 10px;
	border-radius: 10px;
	max-width: 50%;
}
.viewMore-btn:hover {
	margin-right: 20px;
	text-decoration: none;
	background-color: #00bfbf;
	cursor: pointer;
}
@media (max-width: 1024px) {
	.project {
		margin-left: 3rem;
		margin-right: 3rem;
	}
	.__content_wrapper {
		width: 50%;
	}
}
@media (max-width: 768px) {
	.project {
		margin-left: 4em;
		margin-right: 4em;
		flex-direction: column;
	}
	.__img_wrapper {
		width: 340px;
	}
	.__content_wrapper {
		width: 70%;
	}
}
