.project {
	width: 80%;
	margin-left: 15rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	padding: 3rem;
}
.project-reverse {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.__img_wrapper {
	width: 40em;
	align-items: center;
}
.__img_wrapper > img {
	width: 100%;
	transition: transform 0.3s ease-in-out;
}
.__img_wrapper:hover > img {
	transform: scale(1.1);
}
.fa-arrow-right {
	margin-left: 1em;
}
.__content_wrapper {
	width: 60%;
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}
.title {
	font-size: 2em;
}
.title p {
	margin-block-end: 0em;
}
.description {
	font-size: 1.1rem;
	margin-bottom: 1em;
	width: 80%;
}
.viewMore-btn {
	text-decoration: none;
	color: #ffff;
	background-color: #0a0a0a;
	padding: 10px;
	border-radius: 10px;
	max-width: 50%;
}
.viewMore-btn:hover {
	margin-right: 20px;
	text-decoration: none;
	background-color: #00bfbf;
	cursor: pointer;
}
@media (max-width: 1024px) {
	.project {
		margin-left: 3rem;
		margin-right: 2rem;
	}
	.__content_wrapper {
		width: 100%;
	}
	.viewMore-btn {
		max-width: 100%;
	}
}
@media (max-width: 768px) {
	.project {
		margin-left: 4em;
		margin-right: 4em;
		flex-direction: column;
	}
	.__img_wrapper {
		width: 340px;
	}
	.__content_wrapper {
		width: 100%;
	}
	.description {
		font-size: 1.1rem;
		margin-bottom: 1em;
		width: 100%;
	}
}
